.boxes {
    margin-left: 20%;
    display: table;
}

    .boxes div {
        float: left;
    }

.column2 {
    margin-left: 250px;
}


.sem-votos {
    margin-top: 10%;
}


.lista-votos {
    margin-top: 4rem;
}