.status-buttons {
    margin-top: 1rem;
}

.edit-delete {
    transform: translateY(-2.3rem);
}

.boxes {
    margin-left: 3rem;
    display: table;
    margin-right: 0;
}

    .boxes div {
        float: left;
    }

.column2 {
    margin-left: 500px;
}

.candidatos-header {
    margin-top: 2rem;
}

.criar-candidato {
    transform: translateY(-2.3rem);
}

.criar-cargo {
    transform: translateY(-2.3rem);
}

.imagem-candidato {
    margin-top: 1rem;
    max-height: 200px;
    width: auto;
}

.card-title {
    max-height: 50px !important;
}

.card-subtitle {
    max-height: 50px !important;
}

.card-text {
    max-height: 300px !important;
}