@{
    ViewData["Title"] = "Home";
}

@section Style {
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="text-center bem-vindo">
    <h1 class="display-4">Bem Vindo ao Sistema Eleitoral</h1>
</div>
