@model SistemaEleicao.Models.Entities.Eleicao
@{
    ViewData["Title"] = "Eleição - Apuração";
}

@section Style {
    <link rel="stylesheet" href="~/css/votacao_apuracao.css" />
}

<div class="text-center">
    <h1 class="display-4">Eleição - Apuração</h1>
</div>
<div class="text-left botao-return">
    <a type="button" class="btn btn-secondary" asp-area="" asp-controller="ListaVotos" asp-action="MeusVotos">Voltar para a lista de votos</a>
</div>